:root {
  --color-fondo: #1A4789;
  --color-fondo-navbar: #2B4257;
  --color-fondo-navbar-movil: #213141;
  --color-botones-navbar: #13D4A7;
  --color-botones-navbar-hover: #11a885;
  --color-fondo-footer: #2B4257;
  --color-logo-utn-footer: #5e4485;
  --color-logo-mir-footer: #13D4A7;
  --color-letra-footer: #FFFFFF;
  --color-letra-navbar: #FFFFFF;
  --color-letra-home: #FFFFFF;
  --color-fondo-cards-home: #272030;
  --color-button-card-home: #F81876;
}